In [166]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [167]:
df_normal = pd.read_csv(r"C:\Users\user\Desktop\SEM 8\Project Sarjana Muda (PSM)\THESIS PROGRESS\Control Chart Pattern Recognition (CCPR) Project\pattern_data\FirstStageData\Normal_Pattern.csv")
df_normal['Class'] =1
df_normal

,T1 New,T2 New,T3 New,T4 New,T5 New,T6 New,T7 New,T8 New,T9 New,T10 New,...,T24 New,T25 New,T26 New,T27 New,T28 New,T29 New,T30 New,T31 New,T32 New,Class
0,0.240563,0.087118,-0.270576,-0.828400,-0.267872,-0.045424,0.116035,0.079792,-0.653570,1.000000,...,0.268767,-0.674229,-0.185003,-0.176034,-0.579539,-0.738881,-1.000000,-0.294457,-0.220452,1
1,-0.521809,-0.551405,-0.099760,0.331820,1.000000,0.189424,0.623210,-0.323402,-0.820973,-0.168283,...,-0.470277,-0.296613,-0.546691,0.298624,-0.616763,-0.172828,-0.643999,0.055828,-0.179141,1
2,-0.353543,0.040962,0.495918,-0.066714,-0.130652,-0.870805,0.109598,-0.217292,0.303047,-0.432285,...,0.341148,-1.000000,-0.373496,-0.610143,-0.499175,1.000000,0.169682,-0.596725,-0.143902,1
3,-0.467600,-0.562362,-0.134950,0.433643,-0.029998,0.064815,0.464542,-0.379661,0.210342,-0.040528,...,0.543403,1.000000,-0.197013,0.077874,-0.058544,0.431109,-0.442475,-0.486280,-0.040816,1
4,0.436794,0.487983,-0.061344,0.021931,0.148896,-0.756314,0.224792,-0.917975,0.408447,0.706350,...,0.870383,0.738981,-0.415392,0.603312,-0.960307,0.762986,0.037281,-0.082017,-0.030109,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,-0.235256,0.006082,-0.557384,-0.567269,-0.456768,-0.703902,-0.592641,-0.168650,0.558875,-0.419686,...,-0.143364,-0.146234,-0.193682,0.039789,0.941220,0.279983,0.383827,0.050111,-0.841516,1
496,-0.004544,-0.755045,0.344115,-0.975017,0.437366,-0.324837,-0.194212,0.068176,-0.539386,-0.780862,...,0.433345,1.000000,-0.583785,-0.333509,-0.405560,-1.000000,0.332665,-0.211778,-0.693796,1
497,1.000000,-0.359539,0.582837,-0.056276,0.305547,0.233307,-0.235969,0.397654,-0.796450,-0.097005,...,-0.391806,0.503692,-0.966702,-0.088783,-0.426461,0.138382,-0.017395,0.497561,-0.607656,1
498,0.306257,0.799148,-0.012704,-0.216978,-1.000000,-0.018756,-0.257978,-0.614160,-0.908309,1.000000,...,-0.253196,-0.769113,-0.847277,-0.152795,0.849345,0.519655,0.458178,0.181728,0.367131,1
499,0.470234,0.713677,0.716057,0.494034,-0.105225,0.433985,-0.426891,0.804280,-0.406220,-0.095605,...,-1.000000,-0.294663,0.106836,0.026502,0.276333,0.826483,-0.047004,0.142667,0.966789,1

In [168]:
df_stratification = pd.read_csv(r"C:\Users\user\Desktop\SEM 8\Project Sarjana Muda (PSM)\THESIS PROGRESS\Control Chart Pattern Recognition (CCPR) Project\pattern_data\FirstStageData\Stratification_Pattern.csv")
df_stratification['Class'] =2
df_stratification

,T1 New,T2 New,T3 New,T4 New,T5 New,T6 New,T7 New,T8 New,T9 New,T10 New,...,T24 New,T25 New,T26 New,T27 New,T28 New,T29 New,T30 New,T31 New,T32 New,Class
0,-0.003289,0.390997,0.171126,0.286586,0.276758,-0.527836,-0.301423,-0.019206,-0.113422,-0.238814,...,-0.003191,0.550366,-0.088209,0.086489,-0.361885,-0.284812,-1.000000,-0.462606,0.080723,2
1,0.498556,0.276222,0.393746,0.369894,0.032683,0.334924,-0.220134,0.197881,0.244635,0.598786,...,0.484659,-0.096051,0.058808,0.074938,0.386958,-0.054251,1.000000,0.600196,-1.000000,2
2,0.062883,0.042067,0.331089,0.206384,-0.244961,0.465989,-0.180835,-0.685183,0.492192,-0.260422,...,0.173196,0.163865,0.049591,1.000000,0.570844,-0.535195,-0.726703,-1.000000,-0.389082,2
3,0.306590,0.480933,0.402445,0.631884,0.224877,-0.308558,0.233818,0.592431,0.272557,0.301910,...,-0.283949,0.333831,0.217418,-0.203530,0.147738,0.371696,0.750955,-0.168058,0.268609,2
4,-1.000000,0.000522,-0.277067,-0.203811,0.529109,0.184230,0.209686,0.135591,0.051621,-0.010138,...,0.029565,0.692711,0.062611,-0.520250,0.043286,-0.503653,0.233358,-0.010177,1.000000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,-0.212908,-0.133671,-0.314870,-0.127554,0.544125,-0.400930,-0.786532,-0.293826,-0.266100,-0.749627,...,-0.796278,0.679029,0.492568,-0.058606,0.793283,-0.944104,0.392585,1.000000,-1.000000,2
496,0.344363,0.423604,-0.009300,-0.131545,0.450104,-0.048924,-0.403130,0.380774,-0.358519,0.165005,...,0.195273,-0.144603,0.214891,0.372967,-1.000000,0.839059,0.209194,-0.124000,0.050283,2
497,-0.299952,0.028001,-0.192595,0.261912,-0.111682,0.242619,-0.016882,0.279057,-0.226858,0.145778,...,-0.117855,0.175247,-0.071134,-0.175175,0.224645,-0.080053,0.001853,-0.640668,0.241635,2
498,0.758527,0.181678,-0.076661,-0.336512,-0.559652,-0.177007,0.230374,-0.612625,-0.236306,0.187237,...,-0.320334,-1.000000,-0.470598,0.095508,-0.962615,-0.815224,-0.080119,0.857269,0.879689,2
499,0.454108,0.071238,0.567050,-0.273543,0.455202,0.055207,0.497645,0.380702,0.053191,-1.000000,...,-0.647235,0.532663,0.694538,1.000000,0.379037,0.698830,-0.320702,-0.952170,-0.452279,2

In [169]:
df_systematic = pd.read_csv(r"C:\Users\user\Desktop\SEM 8\Project Sarjana Muda (PSM)\THESIS PROGRESS\Control Chart Pattern Recognition (CCPR) Project\pattern_data\FirstStageData\Systematic_Pattern.csv")
df_systematic['Class'] =3
df_systematic

,T1 New,T2 New,T3 New,T4 New,T5 New,T6 New,T7 New,T8 New,T9 New,T10 New,...,T24 New,T25 New,T26 New,T27 New,T28 New,T29 New,T30 New,T31 New,T32 New,Class
0,-0.092896,0.109470,-0.233439,0.588054,-0.127231,0.500024,-0.289252,0.367643,-0.165020,0.320484,...,0.584620,-0.283842,0.482219,-1.000000,0.603696,-0.625367,0.803853,-0.969353,1.000000,3
1,-0.559225,0.417050,-0.533873,0.261728,-0.280451,-0.012319,-0.036693,0.262415,-0.257430,0.199409,...,0.464190,-0.603856,0.241866,-0.571130,0.717160,-0.799781,0.454367,-0.753858,0.583245,3
2,-0.115904,0.636847,-0.194703,0.245325,-0.447048,0.355856,-0.184689,0.113554,0.012125,0.696929,...,0.329553,-0.244358,0.787594,-0.493110,0.802236,-1.000000,1.000000,-0.262496,0.721160,3
3,-0.235260,0.443259,-0.002825,1.000000,-0.294400,0.054768,-0.998170,0.898803,-0.398388,0.616936,...,0.444581,-0.424798,0.632901,-0.682694,0.624540,-0.821610,0.937545,-0.715804,0.885784,3
4,-0.272731,0.202565,-0.038721,0.113443,-0.501405,-0.016676,-0.297845,0.189213,-0.549446,0.371888,...,0.697235,-0.435152,0.395488,-0.802989,0.432526,-0.725693,1.000000,-0.734712,0.151948,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,-0.476164,0.240348,-0.244977,0.139589,0.001784,0.238184,-0.542083,0.564314,-1.000000,0.769622,...,0.855007,-0.608566,0.910044,-0.768725,1.000000,-0.811559,0.914967,-0.788510,0.496660,3
496,-0.024762,0.364193,-0.173290,0.179459,-0.231616,0.267118,-0.109050,0.350441,-0.739419,0.355312,...,0.533680,-0.757338,0.159047,-0.704988,0.598954,-1.000000,1.000000,-0.664825,0.510012,3
497,-0.530823,0.328086,-0.340977,-0.085843,-0.163995,-0.079098,-0.589160,0.194067,-0.175931,0.212970,...,0.229984,-0.804601,0.862927,-1.000000,1.000000,-0.598884,0.818820,-0.715817,0.544206,3
498,0.195066,0.225310,-0.422310,0.213333,-0.173204,0.369671,-0.781873,0.653509,-0.886519,0.454709,...,0.226853,-0.807172,0.504559,-0.893294,0.524014,-0.766313,0.708769,-0.537674,0.422668,3
499,0.088247,0.534428,-0.136858,0.574506,0.565146,0.375376,-0.085579,0.676904,-0.732101,0.440328,...,0.196198,-0.524324,0.743796,-0.624108,0.812620,-0.909658,1.000000,-1.000000,0.966388,3

In [170]:
df_cyclic = pd.read_csv(r"C:\Users\user\Desktop\SEM 8\Project Sarjana Muda (PSM)\THESIS PROGRESS\Control Chart Pattern Recognition (CCPR) Project\pattern_data\FirstStageData\Cyclic_Pattern.csv")
df_cyclic['Class'] =4
df_cyclic.head(2)

,T1 New,T2 New,T3 New,T4 New,T5 New,T6 New,T7 New,T8 New,T9 New,T10 New,...,T24 New,T25 New,T26 New,T27 New,T28 New,T29 New,T30 New,T31 New,T32 New,Class
0,-0.051489,0.379123,0.370065,0.012610,-0.195528,-0.254317,-0.215299,0.379681,0.339822,0.278485,...,-0.485020,0.306887,1.000000,0.885563,0.179773,0.107098,-0.447685,-0.959312,0.338443,4
1,0.168370,0.536761,0.546238,0.045903,-0.329853,-0.363315,-0.339354,-0.330359,-0.277078,0.296736,...,0.420171,0.957437,0.477717,0.537541,0.327193,-0.140780,-0.816536,-0.542394,0.556329,4

In [171]:
df_uptrend = pd.read_csv(r"C:\Users\user\Desktop\SEM 8\Project Sarjana Muda (PSM)\THESIS PROGRESS\Control Chart Pattern Recognition (CCPR) Project\pattern_data\FirstStageData\Uptrend_Pattern.csv")
df_uptrend['Class'] =5
df_uptrend.head(2)

,T1 New,T2 New,T3 New,T4 New,T5 New,T6 New,T7 New,T8 New,T9 New,T10 New,...,T24 New,T25 New,T26 New,T27 New,T28 New,T29 New,T30 New,T31 New,T32 New,Class
0,-0.861709,-0.826938,-0.787119,-1.000000,-0.629467,-0.617531,-0.524090,-0.757571,-0.456248,-0.555351,...,0.425642,0.188983,0.472187,0.377563,0.445428,0.615093,0.721172,1.000000,0.95175,5
1,-1.000000,-0.902072,-0.915705,-0.690685,-0.565176,-0.569277,-0.475814,-0.563570,-0.390356,-0.135982,...,0.558558,0.426907,0.617817,0.617265,0.787743,0.521995,0.758823,0.878377,1.00000,5

In [172]:
df_downtrend = pd.read_csv(r"C:\Users\user\Desktop\SEM 8\Project Sarjana Muda (PSM)\THESIS PROGRESS\Control Chart Pattern Recognition (CCPR) Project\pattern_data\FirstStageData\Downtrend_Pattern.csv")
df_downtrend['Class'] =6
df_downtrend.head(2)

,T1 New,T2 New,T3 New,T4 New,T5 New,T6 New,T7 New,T8 New,T9 New,T10 New,...,T24 New,T25 New,T26 New,T27 New,T28 New,T29 New,T30 New,T31 New,T32 New,Class
0,0.962967,0.993216,1.000000,0.529793,0.699011,0.652561,0.460136,0.341078,0.212551,0.357403,...,-0.348708,-0.694743,-0.648797,-0.609292,-0.877617,-0.886329,-1.000000,-0.908548,-0.898277,6
1,1.000000,0.770424,0.716262,0.573670,0.743555,0.611602,0.298111,0.522269,0.416797,0.683059,...,-0.480862,-0.504245,-0.573123,-0.359465,-0.710389,-0.661581,-0.709579,-1.000000,-0.976223,6

In [173]:
df_upshift = pd.read_csv(r"C:\Users\user\Desktop\SEM 8\Project Sarjana Muda (PSM)\THESIS PROGRESS\Control Chart Pattern Recognition (CCPR) Project\pattern_data\FirstStageData\Upshift_Pattern.csv")
df_upshift['Class'] = 7
df_upshift.head(2)

,T1 New,T2 New,T3 New,T4 New,T5 New,T6 New,T7 New,T8 New,T9 New,T10 New,...,T24 New,T25 New,T26 New,T27 New,T28 New,T29 New,T30 New,T31 New,T32 New,Class
0,-0.109101,-0.024877,-0.505719,-0.773657,-0.422544,0.04222,-1.000000,-0.780021,0.002704,-0.118997,...,0.304277,1.000000,0.640818,0.095812,0.372829,-0.454224,0.181870,0.586939,0.498217,7
1,-0.693161,0.189964,-0.089917,0.040598,-0.445954,-1.00000,-0.294565,-0.251261,-0.652510,-0.487655,...,-0.100802,-0.225587,0.607852,-0.035761,1.000000,0.569160,0.039322,0.526652,0.552577,7

In [174]:
df_downshift = pd.read_csv(r"C:\Users\user\Desktop\SEM 8\Project Sarjana Muda (PSM)\THESIS PROGRESS\Control Chart Pattern Recognition (CCPR) Project\pattern_data\FirstStageData\Downshift_Pattern.csv")
df_downshift['Class'] = 8
df_downshift.head(2)

,T1 New,T2 New,T3 New,T4 New,T5 New,T6 New,T7 New,T8 New,T9 New,T10 New,...,T24 New,T25 New,T26 New,T27 New,T28 New,T29 New,T30 New,T31 New,T32 New,Class
0,0.858319,0.086768,0.298526,0.091276,0.689097,0.929255,1.000000,0.784311,0.514137,0.018847,...,-0.178345,0.367527,-0.231852,-0.396762,-0.421318,-0.453021,-1.000000,-0.913490,-0.712631,8
1,-0.303257,0.206759,0.055890,0.285351,1.000000,0.257715,0.234397,0.366900,0.085159,0.649768,...,-0.020864,-0.538417,-0.707403,-0.842928,0.207005,-0.874916,-0.802321,-0.878559,-0.218507,8

In [175]:
df = pd.concat([df_normal,df_stratification,df_systematic,df_cyclic,df_uptrend,df_downtrend,df_upshift,df_downshift], ignore_index= True, axis = 0)
df

,T1 New,T2 New,T3 New,T4 New,T5 New,T6 New,T7 New,T8 New,T9 New,T10 New,...,T24 New,T25 New,T26 New,T27 New,T28 New,T29 New,T30 New,T31 New,T32 New,Class
0,0.240563,0.087118,-0.270576,-0.828400,-0.267872,-0.045424,0.116035,0.079792,-0.653570,1.000000,...,0.268767,-0.674229,-0.185003,-0.176034,-0.579539,-0.738881,-1.000000,-0.294457,-0.220452,1
1,-0.521809,-0.551405,-0.099760,0.331820,1.000000,0.189424,0.623210,-0.323402,-0.820973,-0.168283,...,-0.470277,-0.296613,-0.546691,0.298624,-0.616763,-0.172828,-0.643999,0.055828,-0.179141,1
2,-0.353543,0.040962,0.495918,-0.066714,-0.130652,-0.870805,0.109598,-0.217292,0.303047,-0.432285,...,0.341148,-1.000000,-0.373496,-0.610143,-0.499175,1.000000,0.169682,-0.596725,-0.143902,1
3,-0.467600,-0.562362,-0.134950,0.433643,-0.029998,0.064815,0.464542,-0.379661,0.210342,-0.040528,...,0.543403,1.000000,-0.197013,0.077874,-0.058544,0.431109,-0.442475,-0.486280,-0.040816,1
4,0.436794,0.487983,-0.061344,0.021931,0.148896,-0.756314,0.224792,-0.917975,0.408447,0.706350,...,0.870383,0.738981,-0.415392,0.603312,-0.960307,0.762986,0.037281,-0.082017,-0.030109,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,0.735109,0.270945,0.089828,0.059513,0.275085,0.541770,0.517997,0.660188,1.000000,0.328164,...,-0.582483,-0.169091,-1.000000,0.236762,-0.246115,-0.144741,-0.085438,-0.529838,-0.260084,8
3996,0.203038,0.301488,0.583029,0.849397,0.901300,1.000000,0.179711,0.854932,0.471031,0.805209,...,-0.091348,-0.535486,-1.000000,-0.306989,-0.525052,-0.436724,-0.372137,0.484449,-0.061023,8
3997,0.557385,0.701922,0.686653,-0.024438,0.369661,0.503083,0.595111,0.554536,0.871654,-0.011627,...,-0.449195,-0.547683,-1.000000,0.411965,0.223069,-0.410004,-0.299077,0.009707,-0.582250,8
3998,0.556143,0.014731,0.283951,0.955454,0.261911,0.030261,0.369751,-0.119452,0.424642,0.820811,...,0.163960,-0.824920,-0.353874,-0.040196,-0.123395,-0.095869,-0.229862,0.074114,-0.550755,8
3999,0.233266,0.134307,0.046847,0.207484,-0.106375,-0.637818,-0.022043,-0.548001,-0.638128,1.000000,...,-0.558950,-0.394167,-0.706539,-0.177310,-0.858002,-0.029694,-0.256585,-0.606933,-0.213866,8

In [176]:
df.to_csv(r"C:\Users\user\Desktop\SEM 8\Project Sarjana Muda (PSM)\THESIS PROGRESS\Control Chart Pattern Recognition (CCPR) Project\LVQ Algorithm (Matlab)\Exp 1 (Epoch 10)\Input_data_9.csv",index=False)